<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>Dashboard Template · Bootstrap v5.2</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">





    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

    </style>


    <!-- Custom styles for this template -->
    <link href="../css/dashboard.css" rel="stylesheet">
</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Company name</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="#">Sign out</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {{#if (eq category "users")}}active{{/if}}" aria-current="page" href="/dashboard?category=users">
                                <span data-feather="home" class="align-text-bottom"></span>
                                Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{#if (eq category "compatibility")}}active{{/if}}" href="/dashboard?category=compatibility">
                                <span data-feather="file" class="align-text-bottom"></span>
                                Capatibility
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{#if (eq category "category")}}active{{/if}}" href="/dashboard?category=category">
                                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                                Category
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{#if (eq category "openkakao")}}active{{/if}}" href="/dashboard?category=openkakao">
                                <span data-feather="users" class="align-text-bottom"></span>
                                Openkakao
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{#if (eq category "rating")}}active{{/if}}" href="/dashboard?category=rating">
                                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                                Rating
                            </a>
                        </li>

                    </ul>


                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar" class="align-text-bottom"></span>
                            This week
                        </button>
                    </div>
                </div>





                {{#if (eq category "category")}}
                    <h2>Category</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col"><input type="checkbox"></th>
                                    <th scope="col">category_id</th>
                                    <th scope="col">category_name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each rows}}
                                    <tr>
                                        <td><input type="checkbox" value="{{category_id}}"></td>
                                        <td>{{category_id}}</td>
                                        <td>{{category_name}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>

                        </table>
                    </div>
                    <button type="button" class="btn btn-danger deleteCategory">Delete</button>
                    <form>
                        <input type="text">
                        <button type="button" class="btn btn-secondary insertCategory">Insert</button>
                    </form>

                {{/if}}


                {{#if (eq category "compatibility")}}
                    <h2>Compatibility</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col"><input type="checkbox"></th>
                                    <th scope="col">compatibility_id</th>
                                    <th scope="col">warning</th>
                                    <th scope="col">precaution</th>
                                    <th scope="col">mbti</th>
                                    <th scope="col">word</th>
                                    <th scope="col">user_mbti</th>
                                    <th scope="col">adventage</th>
                                    <th scope="col">user_id</th>
                                    <th scope="col">score</th>
                                    <th scope="col">category_id</th>
                                    <th scope="col">rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each rows}}
                                    <tr>
                                        <td><input type="checkbox" value="{{compatibility_id}}"></td>
                                        <td>{{compatibility_id}}</td>
                                        <td>{{warning}}</td>
                                        <td>{{precaution}}</td>
                                        <td>{{mbti}}</td>
                                        <td>{{word}}</td>
                                        <td>{{user_mbti}}</td>
                                        <td>{{adventage}}</td>
                                        <td>{{user_id}}</td>
                                        <td>{{score}}</td>
                                        <td>{{category_id}}</td>
                                        <td>{{rate}}</td>
                                    </tr>
                                {{/each}}

                            </tbody>

                        </table>
                    </div>
                    <button type="button" class="btn btn-danger deleteCompatibility">Delete</button>
                {{/if}}

                {{#if (eq category "openkakao")}}
                    <h2>Openkakao</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col"><input type="checkbox"></th>
                                    <th scope="col">openkakao_id</th>
                                    <th scope="col">mbti</th>
                                    <th scope="col">main_category</th>
                                    <th scope="col">sub_category</th>
                                    <th scope="col">kakao_address</th>
                                    <th scope="col">intro</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each rows}}
                                    <tr>
                                        <td><input type="checkbox" value="{{openkakao_id}}"></td>
                                        <td>{{openkakao_id}}</td>
                                        <td>{{mbti}}</td>
                                        <td>{{main_category}}</td>
                                        <td>{{sub_category}}</td>
                                        <td>{{kakao_address}}</td>
                                        <td>{{intro}}</td>
                                    </tr>
                                {{/each}}

                            </tbody>

                        </table>
                    </div>
                    <button type="button" class="btn btn-danger deleteOpenkakao">Delete</button>
                {{/if}}

                {{#if (eq category "rating")}}
                    <h2>Rating</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col"><input type="checkbox"></th>
                                    <th scope="col">compatibility_id</th>
                                    <th scope="col">warning</th>
                                    <th scope="col">precaution</th>
                                    <th scope="col">mbti</th>
                                    <th scope="col">word</th>
                                    <th scope="col">user_mbti</th>
                                    <th scope="col">adventage</th>
                                    <th scope="col">user_id</th>
                                    <th scope="col">score</th>
                                    <th scope="col">category_id</th>
                                    <th scope="col">rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each rows}}
                                    <tr>
                                        <td><input type="checkbox" value="{{compatibility_id}}"></td>
                                        <td>{{compatibility_id}}</td>
                                        <td>{{warning}}</td>
                                        <td>{{precaution}}</td>
                                        <td>{{mbti}}</td>
                                        <td>{{word}}</td>
                                        <td>{{user_mbti}}</td>
                                        <td>{{adventage}}</td>
                                        <td>{{user_id}}</td>
                                        <td>{{score}}</td>
                                        <td>{{category_id}}</td>
                                        <td>{{rate}}</td>
                                    </tr>
                                {{/each}}

                            </tbody>

                        </table>
                    </div>
                    <button type="button" class="btn btn-danger deleteRating">Delete</button>
                {{/if}}

                {{#if (eq category "users")}}
                    <h2>Users</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col"><input type="checkbox"></th>
                                    <th scope="col">user_id</th>
                                    <th scope="col">id</th>
                                    <th scope="col">mbti</th>
                                    <th scope="col">name</th>
                                    <th scope="col">age</th>
                                    <th scope="col">sex</th>
                                    <th scope="col">status</th>
                                    <th scope="col">join_date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each rows}}
                                    <tr>
                                        <td><input type="checkbox" value="{{user_id}}"></td>
                                        <td>{{user_id}}</td>
                                        <td>{{id}}</td>
                                        <td>{{mbti}}</td>
                                        <td>{{name}}</td>
                                        <td>{{age}}</td>
                                        <td>{{sex}}</td>
                                        <td>{{status}}</td>
                                        <td>{{join_date}}</td>
                                    </tr>
                                {{/each}}

                            </tbody>

                        </table>
                    </div>
                    <button type="button" class="btn btn-danger deleteUser">Delete</button>
                {{/if}}



                <nav aria-label="Page navigation example">
                    {{#with paginator}}
                        <ul class="pagination justify-content-center">
                            {{#if hasPrev}}
                                <li class="page-item">
                                    <a class="page-link" href="/dashboard?page={{prevPage}}&category={{@root.category}}">Previous</a>
                                </li>
                            {{else}}
                                <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                </li>
                            {{/if}}
                            {{#each pageList}}
                                {{#if (eq . @root.paginator.page)}}
                                    <li class="page-item active"><a class="page-link" href="#">{{.}}</a></li>
                                {{else}}
                                    <li class="page-item"><a class="page-link" href="/dashboard?page={{.}}&category={{@root.category}}">{{.}}</a></li>
                                {{/if}}
                            {{/each}}
                            {{#if hasNext}}
                                <li class="page-item">
                                    <a class="page-link" href="/dashboard?page={{nextPage}}&category={{@root.category}}">Next</a>
                                </li>
                            {{else}}
                                <li class="page-item disabled">
                                    <a class="page-link">Next</a>
                                </li>
                            {{/if}}
                        </ul>
                    {{/with}}
                </nav>
            </main>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="../js/dashboard.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function() {
            let selectAll = false;
            $('tr th:first-child input').on('click', function() {
                selectAll = !selectAll;
                $('td input').prop('checked', selectAll);
            });

            $('button.deleteCategory').on('click', function() {
                const selected = $('td input:checked');
                const selectedIds = [];

                selected.each(function() {
                    const content_id = $(this).val();
                    selectedIds.push(content_id);
                    $(this).parent().parent().remove();
                });

                const result = fetch('/deleteCategory', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        category_id: selectedIds
                    })
                }).then(() => {
                    location.reload();
                });


            })

            $('button.insertCategory').on('click', async function() {
                const category_name = $(this).parent().find('input').val();
                //alert(category_name);

                const search = await fetch('/getCategory', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        category_name: category_name
                    })
                });

                const data = await search.json();
                console.log('data: ', data);

                if (data.isExist) {
                    alert(`${category_name} 이미 있음🐼`);
                    $(this).parent().find('input').val("");
                } else {
                    const result = await fetch('/insertCategory', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            category_name: category_name
                        })
                    });
                    alert();
                    $(this).parent().find('input').val("");
                    location.reload();


                }


            })
            $('button.deleteCompatibility').on('click', function() {
                const selected = $('td input:checked');
                const selectedIds = [];

                selected.each(function() {
                    const content_id = $(this).val();
                    selectedIds.push(content_id);
                    $(this).parent().parent().remove();
                });

                console.log('selectedIds: ', selectedIds);

                const result = fetch('/deleteCompatibility', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        compatibility_id: selectedIds
                    })
                });
            })
            $('button.deleteOpenkakao').on('click', function() {
                const selected = $('td input:checked');
                const selectedIds = [];

                selected.each(function() {
                    const content_id = $(this).val();
                    selectedIds.push(content_id);
                    $(this).parent().parent().remove();
                });

                const result = fetch('/deleteOpenkakao', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        openkakao_id: selectedIds
                    })
                });
            })
            $('button.deleteRating').on('click', function() {
                const selected = $('td input:checked');
                const selectedIds = [];

                selected.each(function() {
                    const content_id = $(this).val();
                    selectedIds.push(content_id);
                    $(this).parent().parent().remove();
                });

                const result = fetch('/deleteRating', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        rating_id: selectedIds
                    })
                });
            })
            $('button.deleteUser').on('click', function() {
                const selected = $('td input:checked');
                const selectedIds = [];

                selected.each(function() {
                    const content_id = $(this).val();
                    selectedIds.push(content_id);
                    $(this).parent().parent().remove();
                });

                const result = fetch('/deleteUser', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        user_id: selectedIds
                    })
                });
            })
        })

    </script>
</body>

</html>
